.card{
    width:14.5rem;
    float: left !important;
    margin: 5px 5px 5px 5px !important;
    text-align: left;
}

.navbar-brand{
    margin: auto !important;
}
a{
    text-decoration:none;
    color:black;
}
.btn-sm{
    float:left!important;
    margin-right: 10px;
}
.badge{
    margin-left: 5px;
    float:left !important;
}



