.card{
    width:14.5rem;
    float: left !important;
    margin: 5px 5px 5px 5px !important;
    text-align: left;
}
.nnav{
    margin-left:10px!important;
}

a{
    text-decoration:none;
    color:black;
}
.btn-sm{
    float:left!important;
    margin: 10px;
}
.btn-primary, .btn-secondary{
    font-weight: bold;
    margin: 10px;
}
.row-show{
    margin-bottom: 10px;
}
.badge{
    margin-left: 5px;
}



